<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/main}">
<head>
    <title>Teacher Competency Review</title>
</head>
<body>
<div layout:fragment="content" id="competency-assessment-dashboard" class="p-6">
    <h1 id="page-title">Teacher Competency Assessment</h1>
    <div id="teacher-competency-matrix">Matrix</div>
    <div id="competency-validation">Validation</div>
    <div id="assignment-recommendations">Recommendations</div>
    <button id="approve-competency-assessments">Approve</button>
    <div id="competency-approved" style="display:none">Approved</div>
</div>
</body>
</html>